mixin dsModal(title, dataValue, text)
  .ds-modal-container(data-ds-modal=dataValue)
    .ds-modal-wrapper
      .ds-modal
        .ds-modal-close(data-ds-modal-close=dataValue)
        .ds-modal-header= title
        .ds-modal-body= text
        .ds-modal-footer
          button.ds-modal-button(data-ds-modal-close=dataValue) Ok

